[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
counter = "HfB2cjfBFP8LBdnHLPMvV7bLswPS8TuyFY8ugDVCWLxK"

[programs.localnet]
counter = "HfB2cjfBFP8LBdnHLPMvV7bLswPS8TuyFY8ugDVCWLxK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"


